// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 // Defining a variable
$gray: #918383;

body {
   background: $gray; // Using this variable
 }

.banner {
background: red;
h1 {
  font-size: 50px;
}
}